{% extends "layout.html" %}
{% block body %}
<h3>Makaleler</h3>
<hr>
<form action="/search" method="post"></form>
<div class="input-group">
    <input type="search" placeholder="Ara..." name="keyword" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-danger">Ara</button>
  </div>


{% if articles %}

<ul class="list-group">

    {% for article in articles  %}
    
        <ul class="list-group">
            <li class="list-group-item"><a href="/article/{{article.id}}">{{article.title}}</a></li>
        </ul>


    {% endfor %}



  </ul>
{% else %}
{% endif %}





{% endblock body %}


